{% extends 'base.html' %}

{% block title %}Yel{% endblock %}


{% block body %}
  <div tabindex="-1" id="notebook" class="border-box-sizing">
    <div class="container" id="notebook-container">

<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h1 id="Python-&#49892;&#49845;-_-0705">Python &#49892;&#49845; _ 0705<a class="anchor-link" href="#Python-&#49892;&#49845;-_-0705">&#182;</a></h1>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<hr>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="&#44608;&#50696;&#47536;">&#44608;&#50696;&#47536;<a class="anchor-link" href="#&#44608;&#50696;&#47536;">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<hr>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Exercise-82-:-Taxi-Fare">Exercise 82 : Taxi Fare<a class="anchor-link" href="#Exercise-82-:-Taxi-Fare">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[1]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="k">def</span> <span class="nf">taxi_fare</span><span class="p">(</span><span class="n">distance</span><span class="p">):</span>
    <span class="n">distance</span> <span class="o">*=</span> <span class="mi">1000</span>
    <span class="k">return</span> <span class="mf">4.0</span> <span class="o">+</span> <span class="mf">0.25</span> <span class="o">*</span> <span class="nb">int</span><span class="p">(</span><span class="n">distance</span><span class="o">/</span><span class="mi">140</span><span class="p">)</span>

<span class="c1"># main</span>
<span class="n">line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>

<span class="k">while</span> <span class="n">line</span> <span class="o">!=</span> <span class="s1">&#39;q&#39;</span><span class="p">:</span>
    <span class="k">try</span><span class="p">:</span>
        <span class="n">distance</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="n">line</span><span class="p">)</span>
    <span class="k">except</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;Please enter a distance in kilometers&quot;</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;$&#39;</span><span class="p">,</span> <span class="n">taxi_fare</span><span class="p">(</span><span class="n">distance</span><span class="p">))</span>
    <span class="n">line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>140
$ 254.0
11
$ 23.5
ee
Please enter a distance in kilometers
q
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<hr>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Exercise-84-:-Median-of-Three-Values">Exercise 84 : Median of Three Values<a class="anchor-link" href="#Exercise-84-:-Median-of-Three-Values">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[2]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="k">def</span> <span class="nf">median</span><span class="p">(</span><span class="n">x</span><span class="p">,</span> <span class="n">y</span><span class="p">,</span> <span class="n">z</span><span class="p">):</span>
    <span class="k">return</span> <span class="n">y</span>

<span class="c1"># main</span>
<span class="n">line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>
<span class="n">nums</span> <span class="o">=</span> <span class="p">[]</span>

<span class="k">while</span> <span class="n">line</span> <span class="o">!=</span> <span class="s1">&#39;q&#39;</span><span class="p">:</span>
    <span class="n">nums</span> <span class="o">=</span> <span class="n">line</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s1">&#39;,&#39;</span><span class="p">)</span>
    <span class="k">try</span><span class="p">:</span>
        <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="nb">len</span><span class="p">(</span><span class="n">nums</span><span class="p">)):</span>
            <span class="n">nums</span><span class="p">[</span><span class="n">i</span><span class="p">]</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="n">nums</span><span class="p">[</span><span class="n">i</span><span class="p">])</span>

        <span class="n">nums</span><span class="o">.</span><span class="n">sort</span><span class="p">()</span>
        <span class="n">num1</span> <span class="o">=</span> <span class="n">nums</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span>
        <span class="n">num2</span> <span class="o">=</span> <span class="n">nums</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span>
        <span class="n">num3</span> <span class="o">=</span> <span class="n">nums</span><span class="p">[</span><span class="mi">2</span><span class="p">]</span>

    <span class="k">except</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;Please enter a number.&quot;</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="n">median</span><span class="p">(</span><span class="n">num1</span><span class="p">,</span> <span class="n">num2</span><span class="p">,</span> <span class="n">num3</span><span class="p">))</span>
    <span class="n">line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>1, 2, 3
2
10, 22222, 1
10
qwer, we
Please enter a number.
q
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<hr>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Exercise-85-:-Convert-an-Integer-to-its-Ordinal-Number">Exercise 85 : Convert an Integer to its Ordinal Number<a class="anchor-link" href="#Exercise-85-:-Convert-an-Integer-to-its-Ordinal-Number">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[5]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="k">def</span> <span class="nf">ordinal_number</span><span class="p">(</span><span class="n">num</span><span class="p">):</span>
    <span class="k">if</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">1</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;first&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">2</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;second&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">3</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;third&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">4</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;fourth&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">5</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;fifth&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">6</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;sixth&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">7</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;seventh&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">8</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;eighth&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">9</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;ninth&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">10</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;tenth&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">11</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;eleventh&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">12</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;twelfth&#39;</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;&#39;</span>

<span class="c1"># main</span>
<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span> <span class="mi">13</span><span class="p">):</span>
    <span class="nb">print</span><span class="p">(</span><span class="n">ordinal_number</span><span class="p">(</span><span class="n">i</span><span class="p">))</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>first
second
third
fourth
fifth
sixth
seventh
eighth
ninth
tenth
eleventh
twelfth
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<hr>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Exercise-86-:-The-Twelve-Days-of-Christmas">Exercise 86 : The Twelve Days of Christmas<a class="anchor-link" href="#Exercise-86-:-The-Twelve-Days-of-Christmas">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[25]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="k">def</span> <span class="nf">ordinal_number</span><span class="p">(</span><span class="n">num</span><span class="p">):</span>
    <span class="k">if</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">1</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;first&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">2</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;second&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">3</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;third&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">4</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;fourth&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">5</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;fifth&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">6</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;sixth&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">7</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;seventh&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">8</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;eighth&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">9</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;ninth&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">10</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;tenth&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">11</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;eleventh&#39;</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">12</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;twelfth&#39;</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">return</span> <span class="s1">&#39;&#39;</span>

<span class="n">list_</span> <span class="o">=</span> <span class="p">[</span><span class="s1">&#39;partridge in a pear tree&#39;</span><span class="p">,</span> <span class="s1">&#39;turtle doves&#39;</span><span class="p">,</span> <span class="s1">&#39;French Hens&#39;</span><span class="p">,</span> <span class="s1">&#39;calling birds&#39;</span><span class="p">,</span> <span class="s1">&#39;golden rings&#39;</span><span class="p">,</span> <span class="s1">&#39;geese a-laying&#39;</span><span class="p">,</span> <span class="s1">&#39;swans-a-swimming&#39;</span><span class="p">,</span> <span class="s1">&#39;maids a-milking&#39;</span><span class="p">,</span> <span class="s1">&#39;ladies dancing&#39;</span><span class="p">,</span> <span class="s1">&#39;lords a-leaping&#39;</span><span class="p">,</span> <span class="s1">&#39;pipers piping&#39;</span><span class="p">,</span> <span class="s1">&#39;drummers drumming&#39;</span><span class="p">]</span>
<span class="n">list_num</span> <span class="o">=</span> <span class="p">[</span><span class="s1">&#39;a&#39;</span><span class="p">,</span> <span class="s1">&#39;Two&#39;</span><span class="p">,</span> <span class="s1">&#39;Three&#39;</span><span class="p">,</span> <span class="s1">&#39;Four&#39;</span><span class="p">,</span> <span class="s1">&#39;Five&#39;</span><span class="p">,</span> <span class="s1">&#39;Six&#39;</span><span class="p">,</span> <span class="s1">&#39;Seven&#39;</span><span class="p">,</span> <span class="s1">&#39;Eight&#39;</span><span class="p">,</span> <span class="s1">&#39;Nine&#39;</span><span class="p">,</span> <span class="s1">&#39;Ten&#39;</span><span class="p">,</span> <span class="s1">&#39;Eleven&#39;</span><span class="p">,</span> <span class="s1">&#39;Twelve&#39;</span><span class="p">]</span>

<span class="n">list_</span><span class="o">.</span><span class="n">reverse</span><span class="p">()</span>
<span class="n">list_num</span><span class="o">.</span><span class="n">reverse</span><span class="p">()</span>

<span class="k">def</span> <span class="nf">song</span><span class="p">(</span><span class="n">num</span><span class="p">):</span>
    <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;On the&#39;</span><span class="p">,</span> <span class="n">end</span> <span class="o">=</span> <span class="s1">&#39; &#39;</span><span class="p">)</span>
    <span class="nb">print</span><span class="p">(</span><span class="n">ordinal_number</span><span class="p">(</span><span class="n">num</span><span class="p">),</span> <span class="n">end</span> <span class="o">=</span> <span class="s1">&#39; &#39;</span><span class="p">)</span>
    <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;day of Christmas&#39;</span><span class="p">)</span>
    <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;my true love sent to me:&#39;</span><span class="p">)</span>

    <span class="k">if</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">1</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;A&#39;</span><span class="p">,</span> <span class="n">end</span><span class="o">=</span><span class="s1">&#39; &#39;</span><span class="p">)</span>
        <span class="nb">print</span><span class="p">(</span><span class="n">list_</span><span class="p">[</span><span class="mi">11</span><span class="p">])</span>

    <span class="k">else</span><span class="p">:</span>
        <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">12</span><span class="o">-</span><span class="n">num</span><span class="p">,</span> <span class="mi">12</span><span class="p">):</span>
            <span class="k">if</span> <span class="n">i</span> <span class="o">!=</span> <span class="mi">11</span><span class="p">:</span>
                <span class="nb">print</span><span class="p">(</span><span class="n">list_num</span><span class="p">[</span><span class="n">i</span><span class="p">],</span> <span class="n">end</span><span class="o">=</span><span class="s1">&#39; &#39;</span><span class="p">)</span>
                <span class="nb">print</span><span class="p">(</span><span class="n">list_</span><span class="p">[</span><span class="n">i</span><span class="p">],</span> <span class="n">end</span><span class="o">=</span><span class="s1">&#39;&#39;</span><span class="p">)</span>
                <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;,&#39;</span><span class="p">)</span>
            <span class="k">else</span><span class="p">:</span>
                <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;And&#39;</span><span class="p">,</span> <span class="n">end</span><span class="o">=</span><span class="s1">&#39; &#39;</span><span class="p">)</span>
                <span class="nb">print</span><span class="p">(</span><span class="n">list_num</span><span class="p">[</span><span class="n">i</span><span class="p">],</span> <span class="n">end</span><span class="o">=</span><span class="s1">&#39; &#39;</span><span class="p">)</span>
                <span class="nb">print</span><span class="p">(</span><span class="n">list_</span><span class="p">[</span><span class="n">i</span><span class="p">],</span> <span class="n">end</span><span class="o">=</span><span class="s1">&#39;&#39;</span><span class="p">)</span>
                <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;.&#39;</span><span class="p">)</span>


<span class="c1"># main</span>
<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">1</span><span class="p">,</span> <span class="mi">13</span><span class="p">):</span>
    <span class="n">song</span><span class="p">(</span><span class="n">i</span><span class="p">)</span>
    <span class="nb">print</span><span class="p">()</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>On the first day of Christmas
my true love sent to me:
A partridge in a pear tree

On the second day of Christmas
my true love sent to me:
Two turtle doves,
And a partridge in a pear tree.

On the third day of Christmas
my true love sent to me:
Three French Hens,
Two turtle doves,
And a partridge in a pear tree.

On the fourth day of Christmas
my true love sent to me:
Four calling birds,
Three French Hens,
Two turtle doves,
And a partridge in a pear tree.

On the fifth day of Christmas
my true love sent to me:
Five golden rings,
Four calling birds,
Three French Hens,
Two turtle doves,
And a partridge in a pear tree.

On the sixth day of Christmas
my true love sent to me:
Six geese a-laying,
Five golden rings,
Four calling birds,
Three French Hens,
Two turtle doves,
And a partridge in a pear tree.

On the seventh day of Christmas
my true love sent to me:
Seven swans-a-swimming,
Six geese a-laying,
Five golden rings,
Four calling birds,
Three French Hens,
Two turtle doves,
And a partridge in a pear tree.

On the eighth day of Christmas
my true love sent to me:
Eight maids a-milking,
Seven swans-a-swimming,
Six geese a-laying,
Five golden rings,
Four calling birds,
Three French Hens,
Two turtle doves,
And a partridge in a pear tree.

On the ninth day of Christmas
my true love sent to me:
Nine ladies dancing,
Eight maids a-milking,
Seven swans-a-swimming,
Six geese a-laying,
Five golden rings,
Four calling birds,
Three French Hens,
Two turtle doves,
And a partridge in a pear tree.

On the tenth day of Christmas
my true love sent to me:
Ten lords a-leaping,
Nine ladies dancing,
Eight maids a-milking,
Seven swans-a-swimming,
Six geese a-laying,
Five golden rings,
Four calling birds,
Three French Hens,
Two turtle doves,
And a partridge in a pear tree.

On the eleventh day of Christmas
my true love sent to me:
Eleven pipers piping,
Ten lords a-leaping,
Nine ladies dancing,
Eight maids a-milking,
Seven swans-a-swimming,
Six geese a-laying,
Five golden rings,
Four calling birds,
Three French Hens,
Two turtle doves,
And a partridge in a pear tree.

On the twelfth day of Christmas
my true love sent to me:
Twelve drummers drumming,
Eleven pipers piping,
Ten lords a-leaping,
Nine ladies dancing,
Eight maids a-milking,
Seven swans-a-swimming,
Six geese a-laying,
Five golden rings,
Four calling birds,
Three French Hens,
Two turtle doves,
And a partridge in a pear tree.

</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<hr>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Exercise-88-:-Is-it-a-Valid-Triangle?">Exercise 88 : Is it a Valid Triangle?<a class="anchor-link" href="#Exercise-88-:-Is-it-a-Valid-Triangle?">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[6]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="k">def</span> <span class="nf">valid_triangle</span><span class="p">(</span><span class="n">len1</span><span class="p">,</span> <span class="n">len2</span><span class="p">,</span> <span class="n">len3</span><span class="p">):</span>
    <span class="k">if</span> <span class="n">len3</span> <span class="o">&lt;</span> <span class="n">len1</span> <span class="o">+</span> <span class="n">len2</span><span class="p">:</span>
        <span class="k">return</span> <span class="kc">True</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">return</span> <span class="kc">False</span>

<span class="c1"># main</span>
<span class="n">line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>
<span class="n">nums</span> <span class="o">=</span> <span class="p">[]</span>

<span class="k">while</span> <span class="n">line</span> <span class="o">!=</span> <span class="s1">&#39;q&#39;</span><span class="p">:</span>
    <span class="n">nums</span> <span class="o">=</span> <span class="n">line</span><span class="o">.</span><span class="n">split</span><span class="p">(</span><span class="s1">&#39;,&#39;</span><span class="p">)</span>
    <span class="k">try</span><span class="p">:</span>
        <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="nb">len</span><span class="p">(</span><span class="n">nums</span><span class="p">)):</span>
            <span class="n">nums</span><span class="p">[</span><span class="n">i</span><span class="p">]</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="n">nums</span><span class="p">[</span><span class="n">i</span><span class="p">])</span>

        <span class="n">nums</span><span class="o">.</span><span class="n">sort</span><span class="p">()</span>
        <span class="n">num1</span> <span class="o">=</span> <span class="n">nums</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span>
        <span class="n">num2</span> <span class="o">=</span> <span class="n">nums</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span>
        <span class="n">num3</span> <span class="o">=</span> <span class="n">nums</span><span class="p">[</span><span class="mi">2</span><span class="p">]</span>

    <span class="k">except</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;Please enter a number.&quot;</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">if</span> <span class="n">valid_triangle</span><span class="p">(</span><span class="n">num1</span><span class="p">,</span> <span class="n">num2</span><span class="p">,</span> <span class="n">num3</span><span class="p">):</span>
            <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;It is a valid triangle.&#39;</span><span class="p">)</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;It is not a valid triangle.&#39;</span><span class="p">)</span>
    <span class="n">line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>

</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>2, 3, 4
It is a valid triangle.
3, 4, 5
It is a valid triangle.
10, 2, 4
It is not a valid triangle.
1, 1, 1
It is a valid triangle.
1234, 567, 33
It is not a valid triangle.
q
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<hr>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Exercise-89-:-Capitalize-It">Exercise 89 : Capitalize It<a class="anchor-link" href="#Exercise-89-:-Capitalize-It">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[6]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="k">def</span> <span class="nf">capitalize</span><span class="p">(</span><span class="n">line</span><span class="p">):</span>
    <span class="n">line</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">=</span> <span class="n">line</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span><span class="o">.</span><span class="n">upper</span><span class="p">()</span>
    <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="nb">len</span><span class="p">(</span><span class="n">line</span><span class="p">)):</span>
        <span class="k">if</span> <span class="n">line</span><span class="p">[</span><span class="n">i</span><span class="p">]</span> <span class="o">==</span> <span class="s1">&#39; &#39;</span><span class="p">:</span>
            <span class="k">if</span> <span class="n">i</span><span class="o">+</span><span class="mi">1</span> <span class="o">&lt;</span> <span class="nb">len</span><span class="p">(</span><span class="n">line</span><span class="p">)</span> <span class="ow">and</span> <span class="n">line</span><span class="p">[</span><span class="n">i</span><span class="o">+</span><span class="mi">1</span><span class="p">]</span> <span class="o">==</span> <span class="s1">&#39;i&#39;</span><span class="p">:</span>
                <span class="n">line</span><span class="p">[</span><span class="n">i</span><span class="o">+</span><span class="mi">1</span><span class="p">]</span> <span class="o">=</span> <span class="s1">&#39;I&#39;</span>
        <span class="k">elif</span> <span class="n">line</span><span class="p">[</span><span class="n">i</span><span class="p">]</span> <span class="o">==</span> <span class="s1">&#39;&quot;&#39;</span><span class="p">:</span>
            <span class="k">if</span> <span class="n">i</span><span class="o">+</span><span class="mi">1</span> <span class="o">&lt;</span> <span class="nb">len</span><span class="p">(</span><span class="n">line</span><span class="p">):</span>
                <span class="n">line</span><span class="p">[</span><span class="n">i</span><span class="o">+</span><span class="mi">1</span><span class="p">]</span> <span class="o">=</span> <span class="n">line</span><span class="p">[</span><span class="n">i</span><span class="o">+</span><span class="mi">1</span><span class="p">]</span><span class="o">.</span><span class="n">upper</span><span class="p">()</span>
        <span class="k">elif</span> <span class="n">line</span><span class="p">[</span><span class="n">i</span><span class="p">]</span> <span class="o">==</span> <span class="s1">&#39;?&#39;</span> <span class="ow">or</span> <span class="n">line</span><span class="p">[</span><span class="n">i</span><span class="p">]</span> <span class="o">==</span> <span class="s1">&#39;!&#39;</span> <span class="ow">or</span> <span class="n">line</span><span class="p">[</span><span class="n">i</span><span class="p">]</span> <span class="o">==</span> <span class="s1">&#39;.&#39;</span><span class="p">:</span>
            <span class="k">if</span> <span class="n">i</span><span class="o">+</span><span class="mi">2</span> <span class="o">&lt;</span> <span class="nb">len</span><span class="p">(</span><span class="n">line</span><span class="p">):</span>
                <span class="n">line</span><span class="p">[</span><span class="n">i</span><span class="o">+</span><span class="mi">2</span><span class="p">]</span> <span class="o">=</span> <span class="n">line</span><span class="p">[</span><span class="n">i</span><span class="o">+</span><span class="mi">2</span><span class="p">]</span><span class="o">.</span><span class="n">upper</span><span class="p">()</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="k">continue</span>
    <span class="k">return</span> <span class="s1">&#39;&#39;</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">line</span><span class="p">)</span>

<span class="c1"># main</span>
<span class="n">line_</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>

<span class="k">while</span> <span class="n">line_</span><span class="p">:</span>
    <span class="nb">print</span><span class="p">(</span><span class="n">capitalize</span><span class="p">(</span><span class="nb">list</span><span class="p">(</span><span class="n">line_</span><span class="p">)))</span>
    <span class="n">line_</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>what time do i have to be there? what&#39;s the address?
What time do I have to be there? What&#39;s the address?
i have some banana, do you want to eat? if you want, i will give some banana for you.
I have some banana, do you want to eat? If you want, I will give some banana for you.

</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<hr>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Exercise-90-:-Does-a-String-Represent-an-Integer?">Exercise 90 : Does a String Represent an Integer?<a class="anchor-link" href="#Exercise-90-:-Does-a-String-Represent-an-Integer?">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[8]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="k">def</span> <span class="nf">isInteger</span><span class="p">(</span><span class="n">line</span><span class="p">):</span>
    <span class="k">try</span><span class="p">:</span>
        <span class="nb">int</span><span class="p">(</span><span class="s1">&#39;&#39;</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">line</span><span class="p">))</span>
    <span class="k">except</span><span class="p">:</span>
        <span class="k">return</span> <span class="kc">False</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">return</span> <span class="kc">True</span>

<span class="c1"># main</span>
<span class="n">line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>

<span class="k">while</span> <span class="n">line</span><span class="p">:</span>
    <span class="n">line</span><span class="o">.</span><span class="n">replace</span><span class="p">(</span><span class="s2">&quot; &quot;</span><span class="p">,</span> <span class="s2">&quot;&quot;</span><span class="p">)</span>
    <span class="n">for_line</span> <span class="o">=</span> <span class="nb">list</span><span class="p">(</span><span class="n">line</span><span class="p">)</span>

    <span class="k">if</span> <span class="n">for_line</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">==</span> <span class="s1">&#39;+&#39;</span> <span class="ow">or</span> <span class="n">for_line</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">==</span> <span class="s1">&#39;-&#39;</span><span class="p">:</span>
        <span class="k">if</span> <span class="n">isInteger</span><span class="p">(</span><span class="n">line</span><span class="p">[</span><span class="mi">1</span><span class="p">:]):</span>
            <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;This is an integer.&quot;</span><span class="p">)</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;This is not an integer.&quot;</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">if</span> <span class="n">isInteger</span><span class="p">(</span><span class="n">line</span><span class="p">):</span>
            <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;This is an integer.&quot;</span><span class="p">)</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;This is not an integer.&quot;</span><span class="p">)</span>
    <span class="n">line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>


</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>+1
This is an integer.
1
This is an integer.
12345677
This is an integer.
mmm
This is not an integer.
-1-1-1-
This is not an integer.

</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<hr>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Exercise-92-:-Is-a-Number-Prime?">Exercise 92 : Is a Number Prime?<a class="anchor-link" href="#Exercise-92-:-Is-a-Number-Prime?">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[10]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="k">def</span> <span class="nf">prime</span><span class="p">(</span><span class="n">num</span><span class="p">):</span>
    <span class="k">if</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">1</span><span class="p">:</span>
        <span class="k">return</span> <span class="kc">False</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">2</span><span class="p">,</span> <span class="nb">int</span><span class="p">(</span><span class="n">num</span><span class="o">/</span><span class="mi">2</span> <span class="o">+</span> <span class="mi">1</span><span class="p">)):</span>
            <span class="k">if</span> <span class="n">num</span><span class="o">%</span><span class="k">i</span> == 0:
                <span class="k">return</span> <span class="kc">False</span>
        <span class="k">if</span> <span class="n">i</span> <span class="o">==</span> <span class="nb">int</span><span class="p">(</span><span class="n">num</span><span class="o">/</span><span class="mi">2</span><span class="p">):</span>
            <span class="k">return</span> <span class="kc">True</span>

<span class="c1"># main</span>
<span class="n">line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>

<span class="k">while</span> <span class="n">line</span> <span class="o">!=</span> <span class="s1">&#39;q&#39;</span><span class="p">:</span>
    <span class="k">try</span><span class="p">:</span>
        <span class="n">num</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="n">line</span><span class="p">)</span>
    <span class="k">except</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;Please enter a number&quot;</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">if</span> <span class="n">prime</span><span class="p">(</span><span class="n">num</span><span class="p">):</span>
            <span class="nb">print</span><span class="p">(</span><span class="n">num</span><span class="p">,</span> <span class="s1">&#39;is a prime.&#39;</span><span class="p">)</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="nb">print</span><span class="p">(</span><span class="n">num</span><span class="p">,</span> <span class="s1">&#39;is not a prime.&#39;</span><span class="p">)</span>
    <span class="n">line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>99
99 is not a prime.
1234567
1234567 is not a prime.
2345
2345 is not a prime.
12
12 is not a prime.
37
37 is a prime.
49
49 is not a prime.
235
235 is not a prime.
17
17 is a prime.

Please enter a number
q
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<hr>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Exercise-93-:-Next-Prime">Exercise 93 : Next Prime<a class="anchor-link" href="#Exercise-93-:-Next-Prime">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[3]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="k">def</span> <span class="nf">prime</span><span class="p">(</span><span class="n">num</span><span class="p">):</span>
    <span class="k">if</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">1</span><span class="p">:</span>
        <span class="k">return</span> <span class="kc">False</span>
    <span class="k">elif</span> <span class="n">num</span> <span class="o">==</span> <span class="mi">2</span><span class="p">:</span>
        <span class="k">return</span> <span class="kc">True</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">2</span><span class="p">,</span> <span class="nb">int</span><span class="p">(</span><span class="n">num</span><span class="o">/</span><span class="mi">2</span> <span class="o">+</span> <span class="mi">1</span><span class="p">)):</span>
            <span class="k">if</span> <span class="n">num</span><span class="o">%</span><span class="k">i</span> == 0:
                <span class="k">return</span> <span class="kc">False</span>
        <span class="k">if</span> <span class="n">i</span> <span class="o">==</span> <span class="nb">int</span><span class="p">(</span><span class="n">num</span><span class="o">/</span><span class="mi">2</span><span class="p">):</span>
            <span class="k">return</span> <span class="kc">True</span>

<span class="k">def</span> <span class="nf">nextPrime</span><span class="p">(</span><span class="n">num</span><span class="p">):</span>
    <span class="n">j</span> <span class="o">=</span> <span class="n">num</span><span class="o">+</span><span class="mi">1</span>
    <span class="k">while</span> <span class="kc">True</span><span class="p">:</span>
        <span class="k">if</span> <span class="n">prime</span><span class="p">(</span><span class="n">j</span><span class="p">):</span>
            <span class="k">return</span> <span class="n">j</span>
        <span class="n">j</span><span class="o">+=</span><span class="mi">1</span>

<span class="c1"># main</span>
<span class="n">line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>

<span class="k">while</span> <span class="n">line</span> <span class="o">!=</span> <span class="s1">&#39;q&#39;</span><span class="p">:</span>
    <span class="k">try</span><span class="p">:</span>
        <span class="n">num</span> <span class="o">=</span> <span class="nb">int</span><span class="p">(</span><span class="n">line</span><span class="p">)</span>
    <span class="k">except</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="s2">&quot;Please enter a number&quot;</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="n">nextPrime</span><span class="p">(</span><span class="n">num</span><span class="p">))</span>
    <span class="n">line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>1
2
223
227
123455
123457
23
29
17
19
q
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<hr>

</div>
</div>
</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<h2 id="Exercise-96-:-Check-a-Password">Exercise 96 : Check a Password<a class="anchor-link" href="#Exercise-96-:-Check-a-Password">&#182;</a></h2>
</div>
</div>
</div>
<div class="cell border-box-sizing code_cell rendered">
<div class="input">
<div class="prompt input_prompt">In&nbsp;[3]:</div>
<div class="inner_cell">
    <div class="input_area">
<div class=" highlight hl-ipython3"><pre><span></span><span class="k">def</span> <span class="nf">good_password</span><span class="p">(</span><span class="n">line</span><span class="p">):</span>
    <span class="n">count1</span> <span class="o">=</span> <span class="n">count2</span> <span class="o">=</span> <span class="n">count3</span> <span class="o">=</span> <span class="mi">0</span>
    <span class="k">if</span> <span class="nb">len</span><span class="p">(</span><span class="n">line</span><span class="p">)</span> <span class="o">&lt;</span> <span class="mi">8</span><span class="p">:</span>
        <span class="k">return</span> <span class="kc">False</span>

    <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="nb">len</span><span class="p">(</span><span class="n">line</span><span class="p">)):</span>
        <span class="k">if</span> <span class="n">line</span><span class="p">[</span><span class="n">i</span><span class="p">]</span><span class="o">.</span><span class="n">isupper</span><span class="p">():</span>
            <span class="n">count1</span><span class="o">=</span><span class="mi">1</span>
        <span class="k">elif</span> <span class="n">line</span><span class="p">[</span><span class="n">i</span><span class="p">]</span><span class="o">.</span><span class="n">islower</span><span class="p">():</span>
            <span class="n">count2</span><span class="o">=</span><span class="mi">1</span>
        <span class="k">elif</span> <span class="n">line</span><span class="p">[</span><span class="n">i</span><span class="p">]</span><span class="o">.</span><span class="n">isnumeric</span><span class="p">():</span>
            <span class="n">count3</span><span class="o">=</span><span class="mi">1</span>

    <span class="k">if</span> <span class="n">count1</span><span class="o">+</span><span class="n">count2</span><span class="o">+</span><span class="n">count3</span> <span class="o">==</span> <span class="mi">3</span><span class="p">:</span>
        <span class="k">return</span> <span class="kc">True</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="k">return</span> <span class="kc">False</span>

<span class="c1"># main</span>
<span class="n">line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>

<span class="k">while</span> <span class="n">line</span> <span class="o">!=</span> <span class="s1">&#39;q&#39;</span><span class="p">:</span>
    <span class="k">if</span> <span class="n">good_password</span><span class="p">(</span><span class="n">line</span><span class="p">):</span>
        <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;This is a safe password.&#39;</span><span class="p">)</span>
    <span class="k">else</span><span class="p">:</span>
        <span class="nb">print</span><span class="p">(</span><span class="s1">&#39;This is a insafe password.&#39;</span><span class="p">)</span>
    <span class="n">line</span> <span class="o">=</span> <span class="nb">input</span><span class="p">()</span>
</pre></div>

</div>
</div>
</div>

<div class="output_wrapper">
<div class="output">


<div class="output_area">

<div class="prompt"></div>


<div class="output_subarea output_stream output_stdout output_text">
<pre>111111144444qqq
This is a insafe password.
12345qqqqQQQQQ
This is a safe password.
ajskdjlsajdsjdlsajlk123445!22
This is a insafe password.
jfskjflsAAAAA
This is a insafe password.
jsdlfkjls11111
This is a insafe password.
slkdfjlkflsj!!!!AAAA@#$$s123
This is a safe password.
q
</pre>
</div>
</div>

</div>
</div>

</div>
<div class="cell border-box-sizing text_cell rendered"><div class="prompt input_prompt">
</div>
<div class="inner_cell">
<div class="text_cell_render border-box-sizing rendered_html">
<hr>

</div>
</div>
</div>
    </div>
  </div>
{% endblock %}